.ofertas__boton{
    padding: 5px;
    background-color: var(--color-botones);
    cursor: pointer;
    border-radius: 15px;
    transition: all 0.5s;
    width: 30vw;
    align-self: center;
}

.ofertas__boton:hover{
    background-color: var(--color-botones-hover);
}

.ofertas__boton:active{
    background-color: var(--color-botones);
}